body {
    font-family: 'Reenie Beanie', cursive;
    color: #555555;
    background-image: url(https://ikkanlaz.github.io/Hangman-Game/assets/images/linedpaper.png);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    color: #333333;
}

h2 {
    font-size: 70px;
}

h3 {
    font-size: 40px;
}

.jumbotron, .panel {
    background-image: url(https://ikkanlaz.github.io/Hangman-Game/assets/images/extra_clean_paper.png);
}

#start-game {
    background-color: transparent;
    border: none;
}

#start-game:focus {
    outline: none;
}

#word-to-guess {
    text-align: center;
    letter-spacing: 8px;
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    color: #333333;
}

#hangman-image {
    margin-top: 30px;
}

.panel {
    height: 522px;
}